/* CSS for Slider Component */

label {
    color: #5a607f;
    font-size: 0.875rem;
}
.slider-container {
 position: relative;
}

.slider {
  position: relative;
  user-select:none;
}

.slider-thumb {
  position: absolute;
  height:20px;
  width:20px;
  border-radius:50%;
  top: -8px;
  touch-action: none;
  z-index: 1;
}

.slider-thumb-min, .slider-thumb-max {
  background-color: #1E5EFF;
}

.slot {
  text-align: center;
  display:inline-block;
  width:9.65px;
  height:20px;
  background-color:none;
}

.slot-scale {
  text-align: center;
  display:inline-block;
  width:9.65px;
  height:0px;
  color: #7d7fa5;
  font-size: 0.6875rem;
  user-select: none; 
}

.slot >.slider-thumb {
  top:3px
}

.line {
  position: absolute;
  background-color: #d7dbec;
  height:4px;
  width: 9.65px;
  top: 12px;
}

.line-selected {
  height: 4px;
  background-color: #1E5EFF ;
}